:root {
    --black: #000000;
    --black-50: rgba(0, 0, 0, .5);
    --light-gray: #E6EAF0;
    --bg-color: #f7f7f7;
    --white: #ffffff;
    --positive-green: #2fbd6a;
    --negative-red: #E03853;
}

* {
    box-sizing: border-box;
    font-family: sans-serif;
    font-size: 16px;
}

html {
    background-color: var(--bg-color);
    color: var(--black);
}

body {
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 100px 30px 30px 30px;
    margin: 0;
}

.logo {
    position: fixed;
    top: 30px;
    left: 30px;
    height: 40px;
    width: auto;
}

.menu {
    display: none;
    position: fixed;
    top: 30px;
    right: 30px;
    height: 40px;
    width: auto;
    cursor: pointer;
}

.logged-in .menu {
    display: block;
}

#inputString {
    width: 100%;
    height: 70px;
    resize: none;
    color: var(--black);
    background-color: var(--white);
    border: none;
    border-radius: 12px;
    outline: none;
    font-family: unset;
    padding: 20px;
    box-shadow: rgba(9, 30, 66, 0.25) 0px 4px 8px -2px, rgba(9, 30, 66, 0.08) 0px 0px 0px 1px;
}

#inputString::placeholder {
    color: var(--black);
    opacity: .5;
}

button {
    width: 100%;
    height: 50px;
    border: none;
    border-radius: 12px;
    color: var(--white);
    background-color: var(--black);
    font-size: 20px;
    cursor: pointer;
    margin-top: 10px;
    transition: .2s ease;
    box-shadow: rgba(9, 30, 66, 0.25) 0px 4px 8px -2px, rgba(9, 30, 66, 0.08) 0px 0px 0px 1px;
}

button:hover {
    opacity: .8;
}

.container-buttons {
    display: none;
    width: 100%;
    justify-content: space-between;
    margin-bottom: 30px;
}

.container-buttons button {
    width: calc(50% - 5px);
}

.details-address,
.details-key {
    text-wrap: wrap;
    width: 100%;
    line-break: anywhere;
    text-align: center;
    background-color: var(--white);
    color: var(--black);
    padding: 20px;
    border-radius: 12px;
    box-shadow: rgba(9, 30, 66, 0.1) 0px 1px 1px, rgba(9, 30, 66, .1) 0px 0px 1px 1px;
}

.details-key {
    margin-bottom: 0;
}

.subheader {
    opacity: .5;
    margin-top: 0;
}

/* .modal {
    display: none;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 80px 30px 30px 30px;
    background-color: var(--bg-color);
    box-shadow: rgba(9, 30, 66, 0.25) 0px 4px 8px -2px, rgba(9, 30, 66, 0.08) 0px 0px 0px 1px;
    border-radius: 20px 20px 0 0;
    z-index: 2;
} */

.modal {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 73px;
    width: 100%;
    background-color: rgba(0, 0, 0, .5);
    z-index: 4;
}

.modal.current {
    display: block;
}

.modal-content {
    position: fixed;
    bottom: 0;
    width: 100%;
    max-height: calc(100% - 40px);
    background-color: var(--bg-color);
    padding: 65px 25px 25px 25px;
    overflow: auto;
    border-radius: 20px 20px 0 0;
    border-top: 1px solid var(--light-gray);
}

.title-modal {
    position: absolute;
    top: 33px;
    margin: 0;
    font-size: 20px;
    font-weight: 400;
}

.close-modal {
    position: absolute;
    width: 25px;
    top: 30px;
    right: 30px;
    cursor: pointer;
}

#walletBalance {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.details-balance {
    font-size: 30px;
    margin: 10px 0;
}

.open-details #walletDetails,
.open-send #walletSend,
.open-receive #walletReceive {
    display: block;
}

.logged-in .container-buttons {
    display: flex;
}

.logged-in #walletForm {
    display: none;
}

#walletForm,
#walletAssets {
    width: 100%;
}

/* Send */
#send-amount,
#send-recipient,
#link-camera {
    width: 100%;
    height: 50px;
    border: none;
    color: var(--black);
    border-radius: 12px;
    padding: 20px;
    outline: none;
    background-color: var(--white);
    box-shadow: rgba(9, 30, 66, 0.1) 0px 1px 1px, rgba(9, 30, 66, .1) 0px 0px 1px 1px;
}

.container-send-recipient {
    display: flex;
    justify-content: space-between;
}

#send-recipient {
    margin-bottom: 15px;
}

#send-confirm,
#send-wallet {
    margin-top: 25px;
}

#link-camera {
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 50px;
    margin-left: 10px;
    padding: 0;
    max-width: 50px;
    cursor: pointer;
}

#link-camera img {
    width: 20px;
}

#qrScanner {
    border-radius: 12px;
    overflow: auto;
}

.container-qr {
    display: none;
    position: fixed;
    height: 100%;
    width: 100%;
    z-index: 4;
    padding: 30px;
    background-color: var(--bg-color);
}

/* Receive */

#walletQRCode img {
    border-radius: 10px;
    border: 2px solid black;
    width: 100%;
}

/* Share page */

body.share {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: calc(100vh - 80px);
    background-color: var(--bg-color);
}

#ensText {
    background-color: var(--white);
    border: 3px solid var(--light-gray);
    border-radius: 20px;
    padding: 16px;
    font-size: 50px;
    margin-top: 25px;
}

#qrCode img {
    width: 310px;
    max-width: 80vw;
    border-radius: 20px;
    border: 3px solid var(--light-gray);
}

.share button {
    position: fixed;
    bottom: 30px;
    left: 30px;
    right: 30px;
    width: calc(100% - 60px);
}

/* Assets */

.asset-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 12px;
    padding: 10px 20px 10px 10px;
    outline: none;
    background-color: var(--white);
    box-shadow: rgba(9, 30, 66, 0.1) 0px 1px 1px, rgba(9, 30, 66, .1) 0px 0px 1px 1px;
    margin-bottom: 10px;
}

.asset-left {
    display: flex;
    align-items: center;
}

.asset-row img {
    border-radius: 50%;
    width: 50px;
    border: 2px solid var(--light-gray);
    margin-right: 10px;
}

.asset-row p {
    margin: 5px 0;
}

.asset-balance {
    opacity: .5;
}

.link-eth {
    position: fixed;
    bottom: 30px;
    text-decoration: none;
    color: var(--black);
    background-color: var(--white);
    padding: 14px 20px;
    border-radius: 12px;
    box-shadow: rgba(9, 30, 66, 0.1) 0px 1px 1px, rgba(9, 30, 66, .1) 0px 0px 1px 1px;
    line-height: 18px;
    text-align: center;
}